---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav/index.jsx";
import Footer from "../components/Footer/index.jsx";
import {
  GithubSvg,
  MailSvg,
  WebsiteSvg,
} from "../components/LinkSvg/index.jsx";
import { Header } from "../components/Header/index.jsx";
import { tech, projects } from "../const";
---

<html lang="fr">
  <head>
    <MainHead />
    <style lang="scss">
      @import "../styles/index.scss";
    </style>
  </head>
  <body>
    <Nav />
    <div class="absolute">
      <div class="flyingCube"></div>
      <div class="flyingCube middle"></div>
      <div class="flyingCube right"></div>
    </div>
    <Header />
    <main class="main">
      <div class="secondary">
        <div class="main-area secondary" id="about">
          <div class="main__bar"></div>
          <h2>A propos</h2>
          <p>
            Bonjour, je suis <span class="infinitecolor">Mathieu Daniere</span>,
            un développeur Fullstack de 20 ans actuellement en formation.<br />
            Chez Le Pronto, j'ai contribué à la conception et au développement d'un
            ERP pour les restaurateurs, en tant qu'alternant développeur Fullstack.<br
            />
            Ma passion pour le développement web se reflète dans les projets présentés
            dans mon portfolio, que je suis impatient de partager avec vous.
          </p>
        </div>
      </div>

      <div class="main-area" id="experience">
        <div class="main__bar"></div>
        <h2>Experiences</h2>
        <div class="main__experienceContainer">
          <ul class="main__experienceWrapper">
            {
              tech.map((item) => (
                <li class="main__experience">
                  <div>
                    <img
                      class="main__experienceImage"
                      src={item.path}
                      alt={item.name}
                    />
                  </div>
                  <div>
                    <h4>{item.name}</h4>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <!-- make card in line for project -->
      <div class="secondary">
        <div class="main-area secondary" id="projects">
          <div class="main__bar"></div>
          <h2>Projets</h2>
          <ul class="main__projectContainer">
            {
              projects.map((project) => (
                <li class="main__projectWrapper">
                  <div class="flex  fullSize column">
                    <div class="main__projectImageWrapper">
                      <img
                        class="main__projectImage"
                        src={project.path}
                        alt={project.alt ? project.alt : null}
                      />
                    </div>
                  </div>
                  <div>
                    <div class="main__projectDataContainer">
                      <h3 class="main__projectTitle">{project.name}</h3>
                      <div class="main__projectRessourceContainer">
                        {project.link ? (
                          <WebsiteSvg link={project.link} />
                        ) : null}
                        {project.githubLink ? <GithubSvg /> : null}
                      </div>
                    </div>
                    <p>{project.description ? project.description : null}</p>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
